.App {
  width: 100vw;
  height: 100vh;
  background-color: #9DED7A;
  padding: 40px;
}

@font-face {
  font-family: 'wlc08';
  src: URL('./wcl08.ttf') format('truetype');
}

.logo {
  font-family: 'wlc08';
  font-size: 200px;
  margin: 0;
  padding: 60px 0 0 60px;
  color: #7178C4;
}
